<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" type="ball-spin-clockwise" *ngIf="mostrarSpinner"></ngx-spinner>

<navbar></navbar>
<sidebar></sidebar>


<div *ngIf="tipoTela == 2" class="container-base">

    <div class="content-page">
        <div class="card-header">
            <div class="card-title"> Cadastro de Carro </div>
            <div (click)="ListaCarro()" class="card-menu"> Listagem de Carros </div>
        </div>

        <form class="form-page" [formGroup]="carroForm" (submit)="enviar()">

            <div class="row">
              <div class="group-row">
                  <label>Placa</label>
                  <input type="text" name="licensePlate" id="licensePlate" placeholder="Placa" formControlName="licensePlate" required />
                  <label class="error-input" *ngIf="carroForm.get('licensePlate')?.errors?.['required'] &&
                  carroForm.get('licensePlate')?.touched">
                      Campo Obrigatório!
                  </label>
              </div>
            </div>

            <div class="row">
                <div class="group-row">
                  <label>Modelo</label>
                  <input type="text" name="model" id="licensePlate" placeholder="Placa" formControlName="model" required />
                  <label class="error-input" *ngIf="carroForm.get('model')?.errors?.['required'] &&
                  carroForm.get('model')?.touched">
                      Campo Obrigatório!
                  </label>
              </div>
            </div>

          <div class="row">
            <div class="group-row">
              <label>Cor</label>
              <input type="text" name="color" id="color" placeholder="Nome" formControlName="color" required />
              <label class="error-input" *ngIf="carroForm.get('color')?.errors?.['required'] &&
              carroForm.get('color')?.touched">
                  Campo Obrigatório!
              </label>
            </div>
          </div>

          <div class="row">
            <div class="group-row">
              <label>Ano</label>
              <input type="text" name="model" id="year" placeholder="Ano" formControlName="year" required />
              <label class="error-input" *ngIf="carroForm.get('year')?.errors?.['required'] &&
              carroForm.get('year')?.touched">
                  Campo Obrigatório!
              </label>
            </div>
          </div>



          <div class="row">
              <div class="group-row">
                  <input type="submit" value="Salvar" class="btn-primary" />
              </div>
          </div>

        </form>

    </div>

</div>



<div *ngIf="tipoTela == 1" class="container-base">

    <div class="content-page">

        <div class="header-info-2">
            <div class="card-header">
                <div class="card-title"> Listagem de Carros </div>
                <div (click)="cadastro()" class="card-menu"> Cadastro de Carros </div>
            </div>


            <table cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <!-- <td></td> -->
                        <td>Código</td>
                        <td>Placa</td>
                        <td>Modelo</td>
                        <td>Ano</td>
                        <td>Cor</td>
                        <td>Editar</td>

                    </tr>
                </thead>
                <tbody>
                    <tr class="select-item" *ngFor="let item of tableListCarros | paginate: config; let i = index"
                        class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca' : i % 2 !== 0}">

                        <td>{{item.id}}</td>
                        <td>{{item.licensePlate}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.year}}</td>
                        <td>{{item.color}}</td>
                        <td>
                          <i class="material-icons edit-icon" (click)="edicao(item.id)">edit</i>
                          <i class="material-icons delete-icon" (click)="remocao(item.id)">delete</i>
                      </td>


                    </tr>
                </tbody>
            </table>

            <div class="tabela-footer" *ngIf="paginacao && tableListCarros">
                <label class="mostrar">Mostrar</label>
                <ng-select (change)="mudarItemsPorPage()" [(ngModel)]="itemsPorPagina" [clearable]="false"
                    [searchable]="false" class="mostrar-drop">
                    <ng-option [value]="10">10</ng-option>
                    <ng-option [value]="50">50</ng-option>
                    <ng-option [value]="100">100</ng-option>
                </ng-select>

                <div class="container-pagination">
                    <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo"
                        [responsive]="true" (pageChange)="mudarPage($event)">
                    </pagination-controls>
                </div>
            </div>

        </div>

    </div>

</div>
